.input--tag{
    background: transparent;
    outline:none ;
    border-bottom:2px solid black;
    font-family: "Frank Ruhl Libre", serif;
    color:rgb(223, 235, 237);
    font-size: 1.8rem;
}
.input--tag::placeholder{
    font-family: "Frank Ruhl Libre", serif;
    color:rgb(223, 235, 237);
    text-align: center;
}
.displaying---images--tag{
  position:fixed;
  top:0;
  left:0;
  width: 80vw;
  margin-left: 10vw;
  height:80vh;
  margin-top:10vh;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.58);
  display:flex;
  flex-direction: row;
  z-index: 1000;
}
.popup--display{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
  
    height:80%;
    margin-top:5%;
    /* justify-content: center; */
   
   
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.column {
    float: left;
    width: 28%;
    margin-top:2%;
    margin-bottom:2%;
    margin-left:4%;
    height:180px;
  }
  .cancel---tag{
    cursor: pointer;
    height:fit-content;
    position:fixed;
    right:1vw;
    z-index:9999;
    top:1vh;
    color:white;
  }


  .row {
    margin: 0 -5px;
    height:460px;
    overflow-y: auto;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    opacity:0.7;
    background-color:  rgba(0, 0, 0, 0.2);

  }
  .input--tag--card{
    background-color: transparent;
    border:none;
    outline:none;
  }
  .card:hover{
    transition:0.7s;
    opacity: 1;
  }
  .active{
    opacity: 1;
     transition:0.6s;
     background-color: rgb(56, 191, 244);
    border: 2px solid rgb(56, 191, 244);
    cursor:pointer;
  }

 .btn---text--area{
  cursor: pointer;
  background-color: transparent;
 }
 .btn---text--area:hover{
  transition: 1s;
  backdrop-filter: blur(15px);
  background-color:rgba(0, 0, 0, 0.628);
 }

 .box--image{
  width:80%;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.41);
  border:3px solid rgba(0, 0, 0, 0);
  /* border-style:dashed; */
  height:10vh;
  position: relative;
  margin:auto;
  resize: both;
  overflow:auto;
}


.input--tag{
  width:100%;
  height:100%;
  outline: none;
  background-color: transparent;
  color:white;
  font-size: large;
  border: none;
  
 
}
  .box--image::-webkit-scrollbar {
  width: 1px;
}
 
  .box--image::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  .box--image::-webkit-scrollbar-thumb {
  backdrop-filter: blur(13px);
  background: #84808000;
  border:none;
  border-radius: 100px;
}

